# ==============================
# Data / ML
# ==============================
pandas
openpyxl
xgboost
scikit-learn

# ==============================
# Simulator
# ==============================
kafka-python

# ==============================
# Kafka
# ==============================

# ==============================
# Spark
# ==============================

# ==============================
# API
# ==============================

# ==============================
# AWS
# ==============================
boto3

# ==============================
# Development / Testing
# ==============================